<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>编辑学生信息</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
</head>

<body>

    <div class="layui-form" lay-filter="layuiadmin-form-classlist" id="layuiadmin-form-classlist"
        style="padding: 20px 0 0 0;">
        <div class="layui-form-item">
            <label class="layui-form-label">姓名</label>
            <div class="layui-input-inline">
                <input type="text" id="name" name="name" lay-verify="required" placeholder="请输入学生姓名" autocomplete="off"
                    class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">学号</label>
            <div class="layui-input-inline">
                <input type="text" id="number" name="number" lay-verify="required" placeholder="请输入学生学号"
                    autocomplete="off" class="layui-input">
            </div>
        </div>
        <input id="util" style="display: none;"/>
        <div class="layui-form-item">
            <label class="layui-form-label">班级名</label>
            <div class="layui-input-inline">
                <select lay-search id="className" name="className" lay-verify="required">
                    <option value=""></option>
                </select>
            </div>
        </div>
        <div class="layui-form-item layui-hide">
            <input type="button" lay-submit lay-filter="LAY-student-front-submit" id="LAY-student-front-submit"
                value="确认">
        </div>
    </div>

    <script src="../../../layuiadmin/layui/layui.js"></script>
    <script>
        layui.config({
            base: '../../../layuiadmin/' //静态资源所在路径
        }).extend({
            index: 'lib/index' //主入口模块
        }).use(['index', 'form', 'upload', 'studentform'], function () {
            var admin = layui.admin,
                table = layui.table,
                $ = layui.$,
                form = layui.form,
                layer = layui.layer,
                setter = layui.setter;
            
        });
    </script>
</body>

</html>