server:
  port: 8080
spring:
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/book_manager?useUnicode=true&characterEncoding=UTF-8&serverTimezone=UTC
    username: root
    password: ZYMzym1050367616@
    # 连接池配置
    druid:
      # 初始化，最小，最大 连接数
      initial-size: 3
      min-idle: 3
      max-active: 18
      # 获取数据库连接最长等待时间
      max-wait: 60000
      # 多久检测一次需要关闭的空闲连接
      time-between-eviction-runs-millis: 60000
      validation-query: SELECT 'x'
  mvc:
    dispatch-options-request: true
  redis:
    host: localhost
    port: 6379
    jedis:
      pool:
        max-active: 10
        max-idle: 8
        min-idle: 0
        max-wait: -1
    timeout: 0
  mail:
    host: smtp.qq.com
    password: ewbhpuehnhgkbeec
    username: qwaszxqwaszx123@foxmail.com
    properties:
      mail:
        auth: true
        smtp:
          enable: true
mybatis:
  mapper-locations: classpath:mapper/*Mapper.xml
  configuration:
    map-underscore-to-camel-case: true

logging:
  level:
    root: info
  file:
    path: /bookManager/
    max-history: 30
    name: mylog.log
  pattern:
    file: '%d{yyyy-MM-dd} [%thread] %-5level %logger{50} - %msg%n'
