<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>设置我的资料</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../../../layuiadmin/style/admin.css" media="all">
</head>

<body>

  <div class="layui-fluid">
    <div class="layui-row layui-col-space15">
      <div class="layui-col-md12">
        <div class="layui-card">
          <div class="layui-card-header">设置我的资料</div>
          <div class="layui-card-body" pad15>

            <div class="layui-form" lay-filter="">
              <div class="layui-form-item">
                <label class="layui-form-label">我的角色</label>
                <div class="layui-input-inline">
                  <select name="role" lay-verify="">
                    <option id="option1" value="1">管理员</option>
                    <option id="option2" value="2">学院负责人</option>
                    <option id="option3" value="3">班级负责人</option>
                    <option id="option4" value="4">普通学生</option>
                  </select>
                </div>
                <div class="layui-form-mid layui-word-aux">当前角色不可更改为其它角色</div>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label">用户名</label>
                <div class="layui-input-inline">
                  <input type="text" id="username" name="username" readonly class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">不可修改。一般用于后台登入名</div>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label">昵称</label>
                <div class="layui-input-inline">
                  <input type="text" id="nickname" name="nickname" lay-verify="nickname" autocomplete="off"
                    readonly class="layui-input">
                </div>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label">性别</label>
                <div class="layui-input-block">
                  <input type="radio" name="sex" id="man" value="男" title="男">
                  <input type="radio" name="sex" id="woman" value="女" title="女">
                </div>
              </div>
              <!-- <div class="layui-form-item">
                <label class="layui-form-label">头像</label>
                <div class="layui-input-inline">
                  <input name="avatar" lay-verify="required" id="LAY_avatarSrc" placeholder="图片地址"
                    value="http://cdn.layui.com/avatar/168.jpg" class="layui-input">
                </div>
                <div class="layui-input-inline layui-btn-container" style="width: auto;">
                  <button type="button" class="layui-btn layui-btn-primary" id="LAY_avatarUpload">
                    <i class="layui-icon">&#xe67c;</i>上传图片
                  </button>
                  <button class="layui-btn layui-btn-primary" layadmin-event="avartatPreview">查看图片</button>
                </div>
              </div> -->
              <div class="layui-form-item">
                <label class="layui-form-label">手机</label>
                <div class="layui-input-inline">
                  <input type="text" id="cellphone" name="cellphone" value="" lay-verify="phone" autocomplete="off"
                    class="layui-input">
                </div>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label">邮箱</label>
                <div class="layui-input-inline">
                  <input type="text" id="email" name="email" value="" lay-verify="email" autocomplete="off"
                    class="layui-input">
                </div>
              </div>
              <!-- <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">备注</label>
                <div class="layui-input-block">
                  <textarea name="remarks" placeholder="请输入内容" class="layui-textarea"></textarea>
                </div>
              </div> -->
              <div class="layui-form-item">
                <div class="layui-input-block">
                  <button class="layui-btn" lay-submit lay-filter="setmyinfo">确认修改</button>
                  <button type="reset" class="layui-btn layui-btn-primary">重新填写</button>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="../../../layuiadmin/layui/layui.js"></script>
  <script>
    layui.config({
      base: '../../../layuiadmin/' //静态资源所在路径
    }).extend({
      index: 'lib/index' //主入口模块
    }).use(['index', 'set'], function () {
      var $ = layui.$,
        form = layui.form;

      document.getElementById('username').setAttribute('value', sessionStorage.getItem('username'));
      document.getElementById('nickname').setAttribute('value', sessionStorage.getItem('nickname'));
      document.getElementById('email').setAttribute('value', sessionStorage.getItem('email') == null ? '' : sessionStorage.getItem('email'));
      document.getElementById('cellphone').setAttribute('value', sessionStorage.getItem('cellphone') == null ? '' : sessionStorage.getItem('cellphone'));

      var sex = sessionStorage.getItem('sex') == '男' ? 'man' : 'woman';
      document.getElementById(sex).setAttribute('checked', "true");

      var roleName = sessionStorage.getItem("roleName");
      switch (roleName) {
        case '管理员':
          document.getElementById("option1").setAttribute("selected", "selected");
          document.getElementById("option2").setAttribute("disabled", "disabled");
          document.getElementById("option3").setAttribute("disabled", "disabled");
          document.getElementById("option4").setAttribute("disabled", "disabled");
          break;
        case '学院负责人':
          document.getElementById("option2").setAttribute("selected", "selected");
          document.getElementById("option1").setAttribute("disabled", "disabled");
          document.getElementById("option3").setAttribute("disabled", "disabled");
          document.getElementById("option4").setAttribute("disabled", "disabled");
          break;
        case '班级负责人':
          document.getElementById("option3").setAttribute("selected", "selected");
          document.getElementById("option2").setAttribute("disabled", "disabled");
          document.getElementById("option1").setAttribute("disabled", "disabled");
          document.getElementById("option4").setAttribute("disabled", "disabled");
          break;
        case '普通学生':
          document.getElementById("option4").setAttribute("selected", "selected");
          document.getElementById("option2").setAttribute("disabled", "disabled");
          document.getElementById("option3").setAttribute("disabled", "disabled");
          document.getElementById("option1").setAttribute("disabled", "disabled");
          break;
      }
      form.render();


      form.on('submit(setmyinfo)', function (obj) {
        // layer.msg(JSON.stringify(obj.field));

        $.ajax({
          url: 'http://localhost:8080/updateUserInfo',
          type: 'post',
          headers: {
            'Authorization': sessionStorage.getItem("token"),
            'Access-Control-Allow-Origin': '*'
          },
          // xhrFields: { withCredentials: true },
          data: JSON.stringify(obj.field),
          contentType: 'application/json;charset=utf-8',
          dataType: 'json',
          success: function (res) {
            sessionStorage.setItem("nickname", res.user.nickname);
            sessionStorage.setItem("sex", res.user.sex);
            sessionStorage.setItem("email", res.user.email);
            sessionStorage.setItem("cellphone", res.tel);
            form.render();
            layer.msg("修改成功！", {
              offset: '15px'
              , icon: 1
              , time: 1000
            }, function() {
              parent.location.reload();
            });
          }
        })
      });
    });
  </script>
</body>

</html>