<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>编辑学生信息</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
</head>

<body>

    <div class="layui-form" lay-filter="layuiadmin-form-classlist" id="layuiadmin-form-classlist"
        style="padding: 20px 0 0 0;">
        <div class="layui-form-item">
            <label class="layui-form-label">姓名</label>
            <div class="layui-input-inline">
                <input type="text" id="name" name="name" lay-verify="required" placeholder="请输入学生姓名" autocomplete="off"
                    class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">学号</label>
            <div class="layui-input-inline">
                <input type="text" id="number" name="number" lay-verify="required" placeholder="请输入学生学号"
                    autocomplete="off" class="layui-input">
            </div>
        </div>
        <input id="mutil" style="display: none;" />
        <div class="layui-form-item">
            <label class="layui-form-label">专业名</label>
            <div class="layui-input-inline">
                <select lay-filter="majorName" name="majorName" id="majorName">
                    <option value=""></option>
                </select>
            </div>
        </div>
        <input id="cutil" style="display: none;" />
        <div class="layui-form-item">
            <label class="layui-form-label">班级名</label>
            <div class="layui-input-inline">
                <select name="className" id="className">
                    <option value=""></option>
                </select>
            </div>
        </div>
        <div class="layui-form-item layui-hide">
            <input type="button" lay-submit lay-filter="LAY-student-front-submit" id="LAY-student-front-submit"
                value="确认">
        </div>
    </div>

    <script src="../../layuiadmin/layui/layui.js"></script>
    <script>
        layui.config({
            base: '../../layuiadmin/' //静态资源所在路径
        }).extend({
            index: 'lib/index' //主入口模块
        }).use(['index', 'form', 'upload'], function () {
            var $ = layui.$,
                layer = layui.layer,
                form = layui.form,
                admin = layui.admin,
                element = layui.element,
                setter = layui.setter;

            layer.ready(function () {
                var majorName = $("#mutil").val();
                var data = {
                    "schoolName": sessionStorage.getItem("schoolName")
                };
                $.ajax({
                    url: setter.baseURL + "getMajorNameBySchoolName",
                    type: 'post',
                    headers: {
                        'Authorization': sessionStorage.getItem("token"),
                        'Access-Control-Allow-Origin': '*'
                    },
                    data: JSON.stringify(data),
                    dataType: 'json',
                    contentType: 'application/json;charset=utf-8',
                    success: function (res) {
                        var data = res.data;
                        for (i = 0; i < data.length; i++) {
                            document.getElementById("majorName").append(new Option(data[i]
                                .name, data[i].name));
                            if (majorName != undefined && majorName == data[i].name) {
                                $("#majorName").get(0).selectedIndex = i + 1;
                            }
                        }
                        form.render();
                    }
                });
                var className = $("#cutil").val();
                if (majorName != undefined && className != undefined) {
                    $.ajax({
                        url: setter.baseURL + "getAllClassListByMajorName",
                        type: 'post',
                        headers: {
                            'Authorization': sessionStorage.getItem("token"),
                            'Access-Control-Allow-Origin': '*'
                        },
                        data: JSON.stringify({'majorName' : majorName}),
                        dataType: 'json',
                        contentType: 'application/json;charset=utf-8',
                        success: function (res) {
                            $("#className").find("option").remove();
                            $("#className").append(new Option("", ""));
                            var data = res.data;
                            for (i = 0; i < data.length; i++) {
                                document.getElementById("className").append(new Option(data[i].name, data[i].name));
                                if(data[i].name == className) {
                                    $("#className").get(0).selectedIndex = i + 1;
                                }
                            }
                            form.render();
                        }
                    })
                }
            });

            form.on('select(majorName)', function (data) {
                var majorName = {
                    "majorName": data.value
                };
                $.ajax({
                    url: setter.baseURL + "getClassNameByMajorName",
                    type: 'post',
                    headers: {
                        'Authorization': sessionStorage.getItem("token"),
                        'Access-Control-Allow-Origin': '*'
                    },
                    data: JSON.stringify(majorName),
                    dataType: 'json',
                    contentType: 'application/json;charset=utf-8',
                    success: function (res) {
                        $("#className").find("option").remove();
                        $("#className").append(new Option("", ""));
                        var data = res.data;
                        for (i = 0; i < data.length; i++) {
                            document.getElementById("className").append(new Option(data[i]
                                .name, data[i].name));
                        }
                        form.render();
                    }
                });
            });

            /* $('#className').click(function() {
                var majorName = $("#majorName option:selected").text();
                console.log(majorName);
                if(majorName == '') {
                    alert("请先选择专业");
                }
            }); */
        })
    </script>
</body>

</html>