<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>教学计划汇总表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
</head>

<body>
    <div class="layui-fluid">
        <div class="layui-card">
            <div class="layui-card-body">
                <table class="layui-hide" id="test-table-toolbar" lay-filter="test-table-toolbar"></table>
            </div>
        </div>
    </div>

    <script src="../../layuiadmin/layui/layui.js"></script>
    <script>
        layui.config({
            base: '../../layuiadmin/' //静态资源所在路径
        }).extend({
            index: 'lib/index' //主入口模块
        }).use(['index', 'table'], function () {
            var admin = layui.admin
                , table = layui.table
                , $ = layui.$
                , form = layui.form;

            table.render({
                elem: '#test-table-toolbar'
                , url: 'http://localhost:8080/getStudyPlanList'
                , headers: {
                    'Authorization': sessionStorage.getItem("token"),
                    'Access-Control-Allow-Origin': '*'
                }
                ,toolbar: '#test-table-toolbar-toolbarDemo'
                , where: {
                    majorName: sessionStorage.getItem("majorName"),
                }
                , title: '教学计划'
                , cols: [[
                    { field: 'schoolName', title: '学院名' }
                    , { field: 'majorName', title: '专业名'}
                    , { field: 'courseName', title: '课程名' }
                    , { field: 'bookName', title: '教材名'}
                    , { field: 'hour', title: '课时' }
                ]]
            });
        });
    </script>
</body>

</html>