<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>教师主页</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
</head>

<body>

  <div class="layui-fluid">
    <div class="layui-row layui-col-space15">
      <div class="layui-col-md8">
        <div class="layui-row layui-col-space15">
          <div class="layui-col-md6">
            <div class="layui-card">
              <div class="layui-card-header">教师信息</div>
              <div class="layui-card-body">

                <div class="layui-carousel layadmin-carousel layadmin-backlog">
                  <div carousel-item>
                    <ul class="layui-row layui-col-space10">
                      <li class="layui-col-xs4">
                        <h3>教师姓名：</h3>
                      </li>
                      <li class="layui-col-xs8">
                        <h3 id="nickname">...</h3>
                      </li>
                      <li class="layui-col-xs4">
                        <h3>教师编号：</h3>
                      </li>
                      <li class="layui-col-xs8">
                        <h3 id="teacherNumber">...</h3>
                      </li>
                      <li class="layui-col-xs4">
                        <h3>所属院系：</h3>
                      </li>
                      <li class="layui-col-xs8">
                        <h3 id="schoolName">...</h3>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="layui-col-md6">
            <div class="layui-card">
              <div class="layui-card-header">快捷方式</div>
              <div class="layui-card-body">

                <div class="layui-carousel layadmin-carousel layadmin-shortcut">
                  <div carousel-item>
                    <ul class="layui-row layui-col-space10">
                      <li class="layui-col-xs3">
                        <a lay-href="../teacher/majorList.html">
                          <i class="layui-icon layui-icon-survey"></i>
                          <cite>专业列表</cite>
                        </a>
                      </li>
                      <li class="layui-col-xs3">
                        <a lay-href="../teacher/classList.html">
                          <i class="layui-icon layui-icon-table"></i>
                          <cite>班级列表</cite>
                        </a>
                      </li>
                      <li class="layui-col-xs3">
                        <a lay-href="../teacher/studentList.html">
                          <i class="layui-icon layui-icon-group"></i>
                          <cite>学生列表</cite>
                        </a>
                      </li>
                      <li class="layui-col-xs3">
                        <a layadmin-event="../teacher/classbook.html">
                          <i class="layui-icon layui-icon-list"></i>
                          <cite>教材领取情况</cite>
                        </a>
                      </li>
                      <li class="layui-col-xs3">
                        <a lay-href="../studyPlan/submitStudyPlan.html">
                          <i class="layui-icon layui-icon-form"></i>
                          <cite>提交教学计划</cite>
                        </a>
                      </li>
                      <li class="layui-col-xs3">
                        <a lay-href="app/workorder/list.html">
                          <i class="layui-icon layui-icon-chart-screen"></i>
                          <cite>教学计划汇总</cite>
                        </a>
                      </li>
                      <li class="layui-col-xs3">
                        <a lay-href="../template/booklist.html">
                          <i class="layui-icon layui-icon-file"></i>
                          <cite>教材列表</cite>
                        </a>
                      </li>
                      <li class="layui-col-xs3">
                        <a lay-href="../set/user/info.html">
                          <i class="layui-icon layui-icon-set"></i>
                          <cite>设置</cite>
                        </a>
                      </li>
                    </ul>

                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="layui-col-md12">
            <div class="layui-card">
              <div class="layui-card-header">学期安排</div>
              <div class="layui-card-body">
                <div class="layui-carousel layadmin-carousel layadmin-shortcut">

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="layui-col-md4">
        <div class="layui-card">
          <div class="layui-card-header">通知</div>
          <div class="layui-card-body">
            <div class="layui-carousel layadmin-carousel layadmin-shortcut">

            </div>
          </div>
        </div>

        <div class="layui-card">
          <div class="layui-card-header">在线问答</div>
          <div class="layui-card-body">
            <div class="layui-carousel layadmin-carousel"></div>
          </div>
        </div>

      </div>
    </div>

    <script src="../../layuiadmin/layui/layui.js?t=1"></script>
    <script>
      layui.config({
        base: '../../layuiadmin/' //静态资源所在路径
      }).extend({
        index: 'lib/index' //主入口模块
      }).use(['index', 'console'], function () {
        var $ = layui.$
          , admin = layui.admin
          , element = layui.element
          , layer = layui.layer
          , laydate = layui.laydate
          , form = layui.form
          , setter = layui.setter;

        layer.ready(function () {
          var username = sessionStorage.getItem("username");
          var data = { "username": username };
          $.ajax({
            url: setter.baseURL + 'getTeacherInfo',
            type: 'post',
            headers: {
              'Authorization': sessionStorage.getItem("token"),
              'Access-Control-Allow-Origin': '*'
            },
            data: JSON.stringify(data),
            dataType: 'json',
            contentType: 'application/json;charset=utf-8',
            success: function (res) {
              sessionStorage.setItem("schoolName", res.data.schoolName);
              sessionStorage.setItem("schoolId", res.data.schoolId);
              document.getElementById("schoolName").innerHTML = sessionStorage.getItem("schoolName");
            }
          });
        });
        document.getElementById("nickname").innerHTML = sessionStorage.getItem("nickname");
        document.getElementById("teacherNumber").innerHTML = sessionStorage.getItem("username");
      });
    </script>
</body>

</html>