<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gydx.bookManager.mapper.MajorMapper">
    <select id="getMajorListBySchoolName" resultType="com.gydx.bookManager.entity.Major" parameterType="string">
        select * from major where
        <trim prefixOverrides="and">
            <if test="schoolName != null and schoolName != ''">
                and school_id = (select id from school where name = #{schoolName} and status = 1)
            </if>
            and status = 1;
        </trim>
    </select>
    <select id="selectNameById" resultType="string" parameterType="integer">
        select name from major where id = #{majorId};
    </select>
    <select id="selectIdByName" resultType="integer" parameterType="string">
        select id from major where name like concat('%', #{majorName}, '%');
    </select>
    <select id="selectByCourseId" resultType="com.gydx.bookManager.entity.Major" parameterType="integer">
        select * from major where id IN (select major_id from major_course where course_id = #{courseId});
    </select>
    <select id="findAllMajorList" resultType="com.gydx.bookManager.entity.Major">
        select * from major where status = 1;
    </select>
    <select id="findAllMajorListByCondition" resultType="com.gydx.bookManager.entity.Major">
        select * from major where
        <trim prefixOverrides="and|or">
            <if test="name != null and name != ''">
                and name like concat('%', #{name}, '%')
            </if>
            <if test="schoolName != null and schoolName != ''">
                and school_id = (select id from school where name like concat('%', #{schoolName}, '%'))
            </if>
            and status = 1
        </trim>
    </select>
    <select id="findMajorListByPage" resultType="com.gydx.bookManager.entity.Major">
        select * from major where status = 1
        limit #{page}, #{limit};
    </select>
    <select id="findMajorListByPageAndCondition" resultType="com.gydx.bookManager.entity.Major">
        select * from major where
        <trim prefixOverrides="and|or">
            <if test="name != null and name != ''">
                and name like concat('%', #{name}, '%')
            </if>
            <if test="schoolName != null and schoolName != ''">
                and school_id = (select id from school where name like concat('%', #{schoolName}, '%'))
            </if>
            and status = 1
        </trim>
        limit #{page}, #{limit}
    </select>
    <select id="findMajorBySchool" parameterType="string" resultType="com.gydx.bookManager.entity.Major">
        select * from major where school_id = (select id from school where name = #{schoolName});
    </select>
    <update id="deleteOneMajor" parameterType="com.gydx.bookManager.entity.Major">
        update major set status = 0 where id = #{id};
    </update>
    <update id="updateMajor" parameterType="com.gydx.bookManager.entity.Major">
        update major set name = #{name},
         school_id = (select id from school where name like concat('%', #{schoolName}, '%'))
         where id = #{id};
    </update>
    <update id="deleteMajors" parameterType="com.gydx.bookManager.entity.Major">
        update major set status = 0
        where id IN
        <foreach collection="majors" item="major" index="index" open="(" close=")" separator=",">
            #{major.id}
        </foreach>
    </update>
    <update id="updateMajorStatus" parameterType="com.gydx.bookManager.entity.Major">
        update major set status = 1 where id = #{id};
    </update>
    <insert id="addMajor" parameterType="com.gydx.bookManager.entity.Major">
        insert into major (school_id, name) select id, #{name}
         from school where name like concat('%', #{schoolName}, '%');
    </insert>
</mapper>