<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gydx.bookManager.mapper.SBSMapper">
    <select id="selectByStockInId" parameterType="integer" resultType="com.gydx.bookManager.entity.StockInBookSupplier">
        select * from stockIn_book_supplier where stock_in_id = #{stockInId};
    </select>
    <update id="updateByStockInId" parameterType="com.gydx.bookManager.entity.StockInBookSupplier">
        update stockIn_book_supplier set book_id = #{bookId}, supplier_id = #{supplierId} where stockIn_id = #{stockInId};
    </update>
</mapper>